.project-title-and-duration-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.duration-icon-and-text-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project-title-text {
  margin: 0;
}
.project-image {
  width: 300px;
}
.description-text {
  margin: 0;
  font-size: 15px;
}
.project-link{
  text-decoration: none;
  font-size: 15px;
}