.title-and-duration-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon-and-duration-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.course-title-text {
  margin: 0;
}
.course-description-text {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
}
.course-tags-text {
  margin: 4px;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 14px;
  background-color: rgb(232, 234, 234);
}
.course-tag-name-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
